/* novo */
.botoes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.botoes button {
  padding: 15px;
  font-size: 16px;
  margin: 3px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.botoes button:hover {
  background-color: #555;
}

/* novo */
.display {
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 20px;
}
