.card {
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 700px;
}

.card-header {
  color: #fff;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
}
